/*===============================================*/
/*        UCFBANDS TWITTER BOOSTRAP THEME        */
/*===============================================*/
/*	                                             */
/*	Author: Jordan Pakrosnis (JpakMedia.com)     */
/*	                                             */
/*===============================================*/

/*========================*/
/*==  GLOBAL STRUCTURE  ==*/
/*========================*/

::selection {
	background: rgba(255,202,6,0.8);
	color: #fff;
}
::-moz-selection {
	background: rgba(255,202,6,0.8);
	color: #fff;
}

body {
	padding-top: 50px;
	background-color: #fff;
	font-size: 16px;
}

.top-line {
	display: none;
	width: 100%;
	height: 2px; 
	position: fixed;
	background: #000; 
	z-index: 5000;
}

a.logo-header {
	display: none;
	padding: 30px;
	padding-right: 33px;
}

a.logo-header img {
	display: block;
	width: 100%;
}

a.navbar-brand {
	height: auto;
	display: block;
	padding: 10px;
}

a.navbar-brand img {
	display: block;
	width: auto;
	height: auto;
	max-height: 50px;
}

.page-header {
	margin-top: 20px;
}

/*.top-fixed {
	display: block;
	width: 100%;
	position: fixed;
}*/

.section-title {
	display: block;
	width: 100%;
	/*background-image: url(../images/page-title-sample-bg1.jpg);*/
	background-position: 0px 70px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #231f20;
	padding: 75px;
	padding-left: 30px;
	padding-right: 30px;
	border-bottom: 3px solid #231f20;
}

.section-title-faculty {
	background-image: url(../images/page-title-sample-bg2.jpg);
}

.section-title-armory {
	background-image: url(../images/page-title-sample-bg3.jpg);
}

#page-wrapper {
	padding: 0px;
	margin-left: 0px;
	background-color: #FCFCFC;
	border-left: 0px;
}

#page-content {
	padding: 0px 30px; 
	background-image: url(../../images/pegasus-bg.png);
	background-repeat: no-repeat;
	background-position: -100px 25px;
	min-height: 550px;
}

.block {
	background-color: #fff;
	padding: 20px;
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.175);
	box-shadow: 0 1px 6px rgba(0,0,0,0.175);
	border: 1px solid #d4d4d4;
	margin-bottom: 35px;
}

.block h2 {
	margin-top: 5px;
	margin-bottom: 20px;
}

.block-featured {
	border-top: 5px solid gold;
	border-bottom: 5px solid #555;
}

.block-no-box {
	padding: 0px;
	background: none;
	-webkit-box-shadow: none;
	box-shadow: none;	
	border: none;
}

.block-staff {
	min-height: 320px;
}

.block-announcement {
	min-height: 150px;
}


/*=================*/
/*==  HOME PAGE  ==*/
/*=================*/

.timeline:before { 
	display: none; /* Disabled */
	right: 5%;
	left: auto;
}

.timeline > li > .timeline-panel:after, .timeline > li > .timeline-panel:before {
	display: none; /* Disabled */
}

.timeline > li > .timeline-panel {
	width: 100%; /* 85%; */
	background: #fff;
	padding: 15px;
}

.timeline h4 {
	margin-bottom: 4px;
}

.timeline-date {
	width: 70px;
	float: left;
	display: block;
	padding: 18px;
	padding-top: 5px;
	padding-bottom: 4px;
	margin-right: 20px;
	background-color: #666;
	text-align: center;
	-webkit-box-shadow: inset 0px 0px 0px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 0px 2px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 0px 2px rgba(0,0,0,0.04), inset 0px 0px 0px 1px rgba(0,0,0,0.2);	
}

.timeline-date.primary {
    background-color: #2e6da4 !important;
}

.timeline-date.success {
    background-color: #3f903f !important;
}

.timeline-date.warning {
    background-color: #f0ad4e !important;
}

.timeline-date.danger {
    background-color: #d9534f !important;
}

.timeline-date.info {
    background-color: #5bc0de !important;
}

.timeline-date.ucf-gray {
	background-color: #231f20 !important;
}

.timeline-date.gold {
	background-color: #ffca06 !important;
}


.timeline-date h5 {
	font-weight: 700;
	font-size: 16px;
	color: #fff;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.3), 1px 1px 2px rgba(0,0,0,0.3);
}

.timeline-date h5 span {
	font-size: 28px;
	margin: 0px;
	position: relative;
	top: 4px;
}

.timeline-date.gold h5 {
	text-shadow: 1px 1px 3px #efbc00, 1px 1px 0px #efbc00, 1px 1px 1px #efbc00;
}

.timeline > li > .timeline-badge {
	display: none; /* Disabled */
	right: 0%;
	left: auto;
}

.timeline-title {
	color: #000;
}

.timeline-content {
	display: block;
}

/*================*/
/*==  MAIN NAV  ==*/
/*================*/

/*== Header-Specific ==*/
.navbar-header {
	border-bottom: 3px solid #ffca06;
}

.navbar-toggle { 
	margin-top: 18px;
	border-radius: 0px;
	background-color: #333;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #ffca06;
	border-color: #f9b000;
}

.sidebar-collapse {
	border-bottom: 3px solid #ffca06;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}


/*== Sidebar-Specific ==*/
.navbar-static-side {
	width: 100%; /* 330px; */
	height: auto;
}

.navbar {
	margin-top: 0px;
}

.navbar-fixed-top {
	position: fixed;
}

.navbar-default {
	background-color: #fff;
	border: none;
}

.navbar-static-side ul li:last-child {
	border-bottom: none;
}

.nav > li > a {
	display: block;
	font-size: 1em;
	text-align: center;
	font-family: 'Droid Serif', Georgia, Sans-serif;
	color: #000;
	padding-top: 7px;
	padding-bottom: 7px;
    -webkit-transition: background 500ms ease-in-out;
    -moz-transition: background 500ms ease-in-out;
    -o-transition: background 500ms ease-in-out;
	transition: background 500ms ease-in-out;
}

.nav > li > a i {
	display: none;
}

.nav > li > a:hover {
	background-color: #ffca06;
}

.nav-second-level > li > a {
	font-size: 1em;
	color: #fff;
	padding-top: 8px;
	padding-bottom: 8px;
}

.navbar-static-side ul li.active a {
	background-color: #ffca06;
}

.navbar-static-side ul li.active ul.nav-second-level > li > a {
	background-color: #231f20;
	padding-left: 15px;
}

.navbar-static-side ul li.active ul.nav-second-level > li > a:hover {
	background-color: #000;
}

.navbar-static-side ul li.active ul.nav-third-level > li > a {
	padding-left: 15px;
	color: #fff;
	background-color: #444;
}

.navbar-static-side ul li.active ul.nav-third-level > li > a:hover {
	background-color: #231f20;
}

#nav-footer {
	margin-bottom: 30px;
	padding-left: 30px;
	font-family: 'Droid Serif', sans-serif;
	font-size: 14px;
}


/*===============*/
/*==  SUB NAV  ==*/
/*===============*/

nav.sub {
	margin: 0px;
	margin-bottom: 13px;
	padding: 0px;
	padding-left: 20px;
	display: block;
	background-color: #231f20; /* #ffca06; */
	width: 100%;
	border-radius: 0px;
	border: none;
	min-height: 0px;
}

nav.sub ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

nav.sub ul li {
	padding: 0px;
	margin: 0px;
	display: inline-block;
}

nav.sub ul li a {
	margin: 0px;
	display: block;
	padding: 15px;
	padding-top: 12px;
	padding-bottom: 9px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 3px solid rgba(0,0,0,0);
    -webkit-transition: 250ms ease-in-out;
    -moz-transition: 250ms ease-in-out;
    -o-transition: 250ms ease-in-out;
	transition: 250ms ease-in-out;	
}

nav.sub ul li a:hover {
	text-decoration: none;
	border-bottom: 3px solid #ffca06;
	color: #ffca06;
}

nav.sub ul.dropdown-menu {
	border-radius: 0px;
	border-bottom: 3px solid #ffca06;
}

nav.sub ul.dropdown-menu li {
	display: block;
}

nav.sub ul.dropdown-menu li a {
	display: block;
	width: auto;
	padding-top: 6px;
	padding-bottom: 6px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
	transition: none;
	color: #000;
	border: none;
}

nav.sub ul.dropdown-menu li a:hover {
	border: none;
}

/*===============*/
/*==  BUTTONS  ==*/
/*===============*/

.btn {
	border-radius: 0px;
}

.btn-lg {
	font-family: 'Droid Serif', serif;
}

.btn, .btn-md, .btn-sm {
	font-weight: bold;
}


/*==============*/
/*==  PANELS  ==*/
/*==============*/

.panel {
	border-radius: 0px;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.175);
	box-shadow: 0 1px 6px rgba(0,0,0,0.175);
	border: 1px solid #d4d4d4;
	margin-bottom: 35px;
}

.panel-heading {
	border-radius: 0px;
	color: #fff;
}

.panel-heading h1, .panel-heading h2, .panel-heading h3, .panel-heading h4, .panel-heading h5 {
	/*color: #fff;*/
}


/*==============*/
/*==  IMAGES  ==*/
/*==============*/

#page-content img {
	padding: 10px;
	border: 1px solid #d4d4d4;
	background-color: #EFEFEF;
}

img.pull-right, img.alignright {
	margin-left: 30px;
	margin-bottom: 30px;
}

img.pull-left {
	margin-right: 30px;
	margin-bottom: 30px;
}


#page-content img.no-frame {
	padding: 0px;
	background: none;
	border: none;
}

img.no-frame {
	padding: 0px;
	background: none;
	border: none;
}

/*.attachment-wpbs-featured {
	float: right;
	margin-left: 30px;
	margin-bottom: 30px;
}*/

.block-staff img {
	float: right;
	margin-left: 30px;
	margin-bottom: 30px;
}


/*=============*/
/*==  LISTS  ==*/
/*=============*/

.block ul li {
	margin-bottom: 10px;
}


/*=====================*/
/*==  MASTER SLIDER  ==*/
/*=====================*/

.ms-container {
	border-bottom: 1px solid #231f20;	
	box-shadow: 0px 2px 0px #ffca06;
}


/*======================*/
/*==  ESSENTIAL GRID  ==*/
/*======================*/

.esg-overflowtrick {
	overflow: visible !important;
}

.eg-ucfbands-announcement-wrapper {
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.175);
	box-shadow: 0 1px 6px rgba(0,0,0,0.175);
}

#page-content .esg-entry-media img {
	padding: 0px;
	border: 0px;
}

.esg-content a {
}

.esg-loadmore {
	border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
}

/*.eg-ucfbands-announcement-content {
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.175);
	box-shadow: 0 1px 6px rgba(0,0,0,0.175);
}*/


/*=====================*/
/*== EVENTS CALENDAR ==*/
/*=====================*/

#tribe-bar-form {
	background: none;
}

#tribe-bar-form label {
	font-size: 14px;
	text-transform: none;
}

#tribe-bar-search, #tribe-bar-date {
	display: block;
	height: 34px !important;
	padding: 6px 12px !important;
	font-size: 14px !important;
	line-height: 1.42857143 !important;
	border: 1px solid #ccc !important;
	border-radius: 4px !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
}

h2.tribe-events-page-title {
	font-size: 2em;
}

input.tribe-events-button, .tribe-events-sub-nav li a, .tribe-events-ical, #tribe-bar-form .tribe-bar-submit input[type=submit] {
	font-size: 14px;
	font-family: 'Droid Serif', Serif;
	font-weight: 400;
	color: #fff;
	background-color: #231f20 !important;
	border: 1px solid #000 !important;
	text-shadow: 0px 0px 3px #000, 1px 1px 1px #000;
	border-radius: 0px !important;
	text-transform: capitalize;
}

.tribe-bar-submit input[type=submit] {
	font-size: 18px !important;
}

#tribe-events-footer ~ a.tribe-events-ical.tribe-events-button {
	height: auto;
}

.tribe-events-ical {
	height: auto;
	padding: 10px !important;
	text-transform: capitalize;
}

.tribe-events-ical:hover {
	color: #fff !important;
}

.tribe-bar-views-inner {
	background-color: #fff;
}

#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a {
	background-color: #fff;
}

table.tribe-events-calendar thead tr th {
	background-color: #ffca06;
	padding: 8px 0;
	font-size: 14px;
	font-family: 'Droid Serif', Serif;
	color: #fff;
	text-shadow: 0px 0px 3px #efbc00, 1px 1px 1px #efbc00;
}

#tribe-events-content .tribe-events-calendar td {
	border-color: #666 !important;
}

.tribe-events-calendar div[id*="tribe-events-daynum-"] {
	font-size: 14px;
}

.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"], .tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"]>a {
	background-color: #333; /* #ffca06 !important; */
}

.tribe-events-present {
	background-color: #ffca06;
	color: #fff;
	text-shadow: 0px 0px 3px #000, 1px 1px 1px #000;
}

.tribe-events-present h3 {
	margin-top: 4px;
	padding-top: 5px !important;
}

.tribe-events-present h3 a {
	color: #fff;
	padding-left: 4px !important;
	text-shadow: 0px 0px 3px #efbc00, 1px 1px 1px #efbc00;
	font-size: 16px !important;
}

table.tribe-events-calendar {
	border-color: #666 !important;
}


/*=============*/
/*==  FORMS  ==*/
/*=============*/

input.bootstrap_input {
	display: inline-block;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	/*border-radius: 4px; */
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


/*==========================*/
/*==  POPOVERS & TOOLTIPS ==*/
/*==========================*/

.popover {
	max-width: none;
}

.footer-address a {
	color: #888;
	cursor: pointer;
    -webkit-transition: 300ms ease-in-out;
    -moz-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
	transition: 300ms ease-in-out;
}

.footer-address a:hover {
	color: #000;
	text-decoration: none;
}

/*==============*/
/*==  ALERTS  ==*/
/*==============*/

.alert-success a {
	color: #3c763d;
	text-decoration: underline;
}

.alert-success a:hover {
	color: #030;
}


/*======================*/
/*==  WP MUSICDISTRO  ==*/
/*======================*/

.music-distro-block {
	width: auto;
	max-width: 330px;
	display: block;
	background-color: #fff;
	padding: 20px;
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.175);
	box-shadow: 0 1px 6px rgba(0,0,0,0.175);
	border: 1px solid #d4d4d4;
	margin-bottom: 35px;
}


/*==============*/
/*==  SLIDER  ==*/
/*==============*/

/*.carousel img {
	min-width: 100%;
	min-width: 100%;
	height: 500px;
	max-width: none;
}

.carousel {
	position: relative;
	overflow: hidden;
	max-height: 500px;
	border-bottom: 1px solid #231f20;	
	box-shadow: 0px 2px 0px #ffca06;
}*/


/*==============================*/
/*==  BOOTSTRAP BLACK & GOLD  ==*/
/*==============================*/

.gold, .btn-gold {
	color: #fff;
	background-color: #ffca06;
	border-color: #efbc00;
	text-shadow: 0px 0px 3px #efbc00, 1px 1px 1px #efbc00;
}

.gold a:hover , .btn-gold:hover {
	color: #fff;
	background-color: #fdb900;
	border-color: #ef9d00;
	text-shadow: 0px 0px 3px #ef9d00, 1px 1px 1px #ef9d00;	
}

.panel-gold .panel-heading {
	color: #fff;
	background-color: #ffca06;
	border-color: #efbc00;
}

.ucf-gray, .btn-ucf-gray {
	color: #fff;
	background-color: #231f20;
	border-color: #000;
	text-shadow: 0px 0px 3px #000, 1px 1px 1px #000;
}

.ucf-gray a:hover , .btn-ucf-gray:hover {
	color: #fff;
	background-color: #333;
}

.panel-ucf-gray .panel-heading {
	color: #fff;
	background-color: #231f20;
	border-color: #000;
	border-bottom: 5px solid #000;
}


.black, .btn-black, .panel-black {
}


/*==================*/
/*==  TYPOGRAPHY  ==*/
/*==================*/

li.ucfb-label {
	color: gold;
}

p span.ucfb-label {
	font-size: 1em;
}

span.ucfb-label {
	color: #999;
	font-size: .65em;
}

.section-title h1 span.ucfb-label {
	color: #EFEFEF;
	font-size: .5em;
}

/* LABEL CONTROL */
.ucfb-label {
	display: none !important;
}

.lead {
	font-size: inherit;
}

h1, h2, h3, h4, h5 {
	font-family: 'Droid Serif', Georgia, Serif;
}

.section-title h1 {
	display: block;
	margin: 0px;
	text-align: center;
	font-size: 3em;
	color: #fff;
	text-shadow: 0px 0px 8px #000, 0px 0px 2px #000, 1px 1px 2px rgba(0,0,0,0.5), 2px 2px 3px rgba(0,0,0,0.4);
	cursor: default;
}

.section-title h1 small {
	color: #efefef;
}

.block-staff h3, .block-announcement h3 {
	margin: 0px;
}

.block-announcement h3 {
	margin-bottom: 10px;
}


/*==// ANCHORS //==*/

a {
	color: #efbc00;
}

a:hover {
	color: #efbc00;
	text-decoration: underline;
}


a h1, a h2, a h3, a h4, a h5, a h6 {
	color: #efbc00;
	text-decoration: none;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
	text-decoration: none;
}


/*==// HEADERS //==*/

.section-title h1 {
}

.section-title a:hover {
	text-decoration: none;
}

.section-title a h1 {
	color: #fff;
    -webkit-transition: 250ms ease-in-out;
    -moz-transition: 250ms ease-in-out;
    -o-transition: 250ms ease-in-out;
	transition: 250ms ease-in-out;
}

.section-title a h1:hover {
	color: #ffca06;
}

h1.page-title {
	margin: 0px;
	margin-top: 20px;
	margin-left: 15px;
	margin-bottom: 45px;
	padding: 0px;
}

h1.section-page-title {
	margin: 0px;
	margin-top: 7px;
	/*margin-left: 15px;*/
	margin-bottom: 45px;
	padding: 0px;
}

.marching-knights .fa,
.jammin-knights .fa,
.mk-armory .fa {
	font-size: 1.10em;
}

.marching-knights h1,
.marching-knights h2, 
.marching-knights h3, 
.marching-knights h4, 
.marching-knights h5, 
.marching-knights h6,
.marching-knights .btn-lg,
.jammin-knights h1,
.jammin-knights h2, 
.jammin-knights h3, 
.jammin-knights h4, 
.jammin-knights h5, 
.jammin-knights h6,
.jammin-knights .btn-lg,
.mk-armory h1,
.mk-armory h2,
.mk-armory h3,
.mk-armory h4,
.mk-armory h5,
.mk-armory h6,
.mk-armory .btn-lg
{
	font-family: 'Oswald', sans-serif !important;
	font-weight: normal;
}

.marching-knights h1, .jammin-knights h1, .mk-armory h1 {
	letter-spacing: .035em;
}

.marching-knights h1.page-title,
.marching-knights h1.section-page-title,
.jammin-knights h1.page-title,
.jammin-knights h1.section-page-title,
.mk-armory h1.page-title,
.mk-armory h1.section-page-title
{
	letter-spacing: normal;
}

.marching-knights .block h2 i,
.jammin-knights .block h2 i,
.mk-armory .block h2 i
{
	margin-right: 5px;
}


/*=====================*/
/*==  MEDIA QUERIES  ==*/
/*=====================*/


@media(min-height: 0px) and (max-height: 699px) {
	
	/* If the window height is less than 700px, make the nav absolute */	
	.navbar-fixed-top {
		position: absolute;
	}
	
}

@media(min-width: 0px) and (max-width: 767px) {
	
	/* If the window width is less than 768px, make the nav fixed
	/* no matter what. This is here to overwrite the abosolute 
	/* position when the height is under 700. */
	.navbar-fixed-top {
		position: fixed;
	}
	
}

@media(min-width:768px) {

    body {
        padding-top: 0px;
    }

	.top-line {
		display: block;
	}
	
	.navbar {
		margin-top: -50px;
	}
	
	.sidebar-collapse {	
		border: none;
	}
	
	a.navbar-brand {
		display: none;
	}
	
	a.navbar-brand img {
		display: none;
	}

	.navbar-fixed-top {
		/*position: absolute;*/
	}
	
	a.logo-header {
		display: block;
	}
		
	.navbar-static-side {
		width: 250px;
	}

	.nav-second-level > li > a {
		font-size: .8em;
	}

	.nav-third-level > li > a { 
		font-size: .8em;
	}
	
	#nav-footer {
		position: fixed;
		bottom: 30px;
		left: 0px;
		margin-bottom: 0px;
		max-width: 230px;
	}

	#page-wrapper {
		margin-left: 250px;
		border-left: 3px solid #ffca06;
	}

	.section-title {
		background-position: 250px 0px;
	}
	
	.section-title h1 {
		text-align: left;
	}
	
	.tribe-events-sub-nav li a {
		display: inline-block;
		padding: 6px 10px; 
	}

}

@media(min-width:1370px) {
    
	body {
        padding-top: 0px;
    }
		
	.navbar {
		margin-top: -50px;
	}
	
	#page-wrapper {
		margin-left: 330px;
	}
	
	.navbar-static-side {
		width: 330px;
	}

	.nav > li > a {
		padding-top: 12px;
		padding-bottom: 12px;
		font-size: 1.2em;
	}
	
	.nav-second-level > li > a {
		font-size: 1em;
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.nav-third-level > li > a {
		font-size: 1em;
		padding-top: 8px;
		padding-bottom: 8px;
	}
	
	#nav-footer {
		max-width: 310px;
	}

	.section-title {
		background-position: 330px 0px;
	}
}








